/*background*/
body {
    background-color:   
black;
}
/* header*/
h1 {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #575656; 
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
}
/* content for html*/
p {
    color: white;
    font-size: 18px;
    text-align: center; 
     font-family: 'Verdana', sans-serif;
    line-height: 1.6;
    margin: 20px;
}
