/*background*/
body {
    background-color:   
black;
}
/* header*/
h1 {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #575656; 
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 60px;
   

}
/* content for html*/
p {
    color: white;
     text-shadow: 2px 2px 4px #575656; 
    font-size: 18px;
    text-align: center; 
     font-family: 'Verdana', sans-serif;
    line-height: 1.6;
    margin: 20px;
}
/* links*/
a {
    color: #ff0000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 50px;
    font-family: 'Tahoma', sans-serif;
     background-color: rgb(85, 85, 85);
    border-radius: 10px;
     text-shadow: 2px 2px 4px rgb(157, 0, 0);
}
a:hover {
    text-decoration: underline;
}
/* layout*/

.links {
   position: absolute; 
    top: 175px;
    right: 10px;
}
.links a {
    display: block;
    margin-bottom: 10px;
}
.links a:last-child {
    margin-bottom: 0;
}

/* end of css */