body {
    background-color:   
black;
}

h1 {
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
}
h1 {
    margin-top: 50px;
}
h1 {
    text-shadow: 2px 2px 4px #000000;
}
h1 {
    letter-spacing: 2px;
}